<%= render 'form' %>
  <ul>
<% @filemanagers.each do |item| %>
    <li class="media_thumb">
       <a href="javascript:void(0)" id="image_<%= item.id %>" onclick="<%="ts_insert_image('image_#{item.id}');" %>">
       <%= image_tag item.image.url(:medium), class: 'media' if !item.image.nil? %>
       <br><span> <%= item.name %></span></a>
    </li>
     

<% end %>

</ul>
<br />

<script type="text/javascript">  
	function ts_insert_image(id){
	  if($("#"+id).hasClass('active'))
	    {$("#"+id).removeClass('active'); }
	  else
	    {$("#"+id).addClass('active');}
	}
</script>
